<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Geo Location</ion-title>
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="/ionic-apis"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <capacitor-google-map #map></capacitor-google-map>
    </ion-col>
    <ion-col size="6">
      <ion-list>
        <ion-item>Latitude: {{coordinate?.coords?.latitude}}</ion-item>
        <ion-item>Longitude: {{coordinate?.coords?.longitude}}</ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
